<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.flyingcursor.kickoff2014" versionCode = "13" version = "1.0.0">


    <name>Kick Off 2014</name>

    <description>An Alarm for the Fifa World Cup 2014!!! Bundled with some really cool stuff</description>

    <author href="http://www.sushil-s.com/" email="sushil.sud@gmail.com">Sushil Sudhakaran</author>

    <preference name="phonegap-version" value="3.4.0" />
    <preference name="fullscreen" value="true" />

    <access origin="*"/>
    <content src="index.html" />
    
    <preference name="android-minSdkVersion" value="14" />



    <gap:splash src="images/splash.png" /> 
    
    <icon src="images/icon.png" />
    

</widget>
